
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #82a6bd;
}

label {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  background-color: #F4D03F;
  /*justify-content: space-between;*/
  padding: 20px;
  margin: 15px auto;
  box-shadow: 10px 10px 10px royalblue rgba(0, 0, 0, 0.5);
  width: 200px;
}

img {
  width: 100%;
  height: auto;
}

ul {
 display: flex; 
 gap: 10px;
 flex-wrap: wrap;
}

